html,body{
    margin: 0px;
    padding: 0px;
}

#mainBlock{
    margin-bottom: 100px;
}

.contact-form{
    position: absolute;
    width: max-content;
    height: min-content;
    box-shadow: 5px 5px 30px #3f4040;
    margin-left: 50px;
    padding: 30px;
}

.input-block{
    margin-bottom:12px;
}

.tag-name{
    margin: 0px;
    font-weight: bolder;
    margin-bottom:3px;
}

.mobile-details,.landline-details{
    display: inline-block;
}

.input-block input{
    height: 35px;
    width: 550px;
    margin-right: 140px;
}

#mobileNumber{
    margin-right: 40px;
}

.mobile-details input,.landline-details input{
    width: 250px;
}

textarea{
    resize: none;
}

.buttons-block{
    float: right;
}

.button{
    padding: 10px 35px;
    border-radius: 0px;
    border-width: 0px;
    color: white;
}

.button:hover{
    filter: brightness(70%)
}

.button[type='reset']{
    background-color: #8d0201;
}

.button[type='submit']{
    background-color: #468d01;
}


/*  */
.contact-form,.contacts-block{
    display: inline-block;
}

.error{
    margin-left: -100px;
    color: red;
    font-style: italic;
}