#mainBlock{
    padding: 15px;
    font-family: 'NotoSans-Thin';
    width: 100%;
}

.contacts-block{
    width: 28%;
}

.contacts-block h3{
    font-weight: bolder;
}

.contacts-list{
    list-style:none;
    padding: 2px;
}

.contacts-list li{
    border: 1px solid #bab9b9;
    padding: 2px 15px 10px 15px;
    height: max-content;
    cursor: pointer;
}

.contacts-list li:hover{
    background-color: rgba(207,230,242);
}

.contacts-list p{
    padding: 2px 0px;
    margin: 0px;
} 

.candit-name{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.candit-contact{
    font-family: Arial, Helvetica, sans-serif;
}

.contacts-block, #contactForm{
    display: inline-block;
}
