*{
    box-sizing:border-box;
}


a:link {
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

html,body {
    margin:0px;
    padding:0px;
}

/* Header */
.container {
    margin: 0px auto;
    font-family: Arial, sans-serif;
    font-weight:520;
    font-size: 0.92em;
}

.page_title {
    background-color: rgb(50,153,205);
    font-family: 'Whois', sans-serif;
    color: whitesmoke;
    width: 100%;
    height: 100px;
    margin:0px;
    padding: 25px;
    font-size: 350%;
}

/* styleing the navigation bar */
.navigation {
    background-color: rgba(51,51,51);
    height: 40px;
    height: min-content;
    padding: 14px 0px;
    font-weight:bolder;
}

/* setting margin or spacing between elements in naviagation bar */
.navigation .active, .navigation a:hover{
    color:rgb(51,51,51);
    background-color:rgb(255,153,0);
    border-left: 5px solid white;
    font-weight: bolder;
}

.navigation a:hover{
    color:white;
}
.navigation a{
    padding: 14px 20px;
    text-align: center;
}

#blogIcon {
    margin-left: 25px;
    position:absolute;
    right:40px;
    margin-top:-4px;
}

/* content body */

#pageContent {
    margin:30px 50px;
    padding: 0px;
}

/* styling the border and adjusting the content in box */
.key_points {
    border: 1px solid #d3d3d3;
    width: max-content;
    display: block;
    padding: 0px 10px;
}

.news{
    margin: 8px 0px;
}

.points{
    padding-left:20px;
    padding-right: 15px;
    margin: 10px 0px;
}
.points .point{
    margin-bottom: 20px;
    list-style: outside '-  ';
}

/* adjusting width of the content */
.description{
    width: 1001px;
    font-size: 16px;
}
