*{
    box-sizing:border-box;
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

html,body {
    margin:0px;
    padding:0px;
}

/* Header */
.container {
    margin: 0px auto;
    font-family: Arial, sans-serif;
    font-weight:520;
    font-size: 0.92em;
}

.page_title {
    background-color: DodgerBlue;
    color: whitesmoke;
    height: 100px;
    margin:0px;
    padding:25px;
    font-size: 300%;
}

/* styleing the navigation bar */
.navigation {
    background-color:black;
    height: 40px;
    padding:12px;
    font-weight:bolder;
}

/* setting margin or spacing between elements in naviagation bar */
.navigation a{
    margin-left: 25px;
}

#blogIcon {
    margin-left: 25px;
    position:absolute;
    right:40px;
}

/* content body */

#pageContent {
    margin:30px 50px;
    padding: 0px;
}

/* styling the border and adjusting the content in box */
.key_points {
    border: 2px groove black;
    width: max-content;
    display: block;
    padding: 0px 25px;
}

.points .point{
    margin-bottom: 20px;
    list-style: outside '-  ';
}

/* adjusting width of the content */
.description{
    width: 80%;
}